*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hero-section
{
  background: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navbar 
{
  height: 20px;
  background-color: aqua;
}


.questions-section
{
  max-width: 800px;
  border-radius: 10px;
  margin-left: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 2rem;
}
.questions-container 
{
  background-color: #fff;
}
.questions-heading
{
  background-color: #f38023;
  color: #fff;
  border-radius: 5px;

}
.question-title
{
  padding: 2rem;
  display: flex;
  border-bottom: 1px solid #fff;
  justify-content: space-between;
}
.question-title h3 
{
  display: flex;
  width: 65%;
}

.question-title .number
{
  display: flex;
  justify-content: flex-end;
}
.question-title .number p
{
  border: 1px solid #fff;
  padding: 3px 15px;
}
.question-title .number p :nth-child(2)
{
  padding: 0 100px;
}
#minus 
{
  border-radius: 5px 0px 0px 5px;
  cursor: pointer;
}
#num
{
  padding: 0 25px;
  display: flex;
  align-items: center;
}
#plus
{
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
}

.question-author-details
{
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
}
.author-desc
{
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.author-desc img 
{
  height: 35px;
  border-radius: 50%;
}
.author-desc div 
{
  background-color: #f3974f;
  border-radius: 7px;
  padding: 6px 15px;
}
.question-asked-time
{
  display: flex;
  align-items: center;
}








.questions-description
{
  padding: 1rem;
}
.compiler 
{
  margin: 1rem;
  padding: 1rem;
  background-color: #e6eaed;
}
.questions-description a
{
  color: #f38023;
}








.question-footer
{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.save-ques 
{
  display: flex;
  gap: 5px;
  align-items: center;
  color: #f38023;
  font-weight: 600;
}
.save-ques img
{
  height: 32px;
  cursor: pointer;
}
.share-comment 
{
  display: flex;
  gap: 1.5rem;
}
.share-comment img
{
  height: 25px;
  cursor: pointer;
}