*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar 
{
  height: 20px;
  background-color: aqua;
}


.questions-section
{
  max-width: 800px;
  border-radius: 10px;
  margin-left: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.questions-heading
{
  background-color: #f38023;
  color: #fff;
  border-radius: 5px;

}
.question-title
{
  padding: 2rem;
  display: flex;
  border-bottom: 1px solid #fff;
}
.question-title h3 
{
  display: flex;
  flex: 3;
}
.question-title .numbers
{
  flex: 1;
}
.question-title .number
{
  display: flex;
  justify-content: flex-end;
}
.question-title .number p
{
  border: 1px solid #fff;
  padding: 3px 15px;
}
.question-title .number p :nth-child(2)
{
  padding: 0 100px;
}
#minus 
{
  border-radius: 5px 0px 0px 5px;
}
#num
{
  padding: 0 30px;
  display: flex;
  align-items: center;
}
#plus
{
  border-radius: 0px 5px 5px 0px;
}

.question-author-details
{
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
}
.author-desc
{
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.author-desc img 
{
  height: 35px;
  border-radius: 50%;
}
.author-desc div 
{
  background-color: #f3974f;
  border-radius: 7px;
  padding: 6px 15px;
}
.question-asked-time
{
  display: flex;
  align-items: center;
}